@import url('https://fonts.googleapis.com/css?family=Cantarell|Raleway&display=swap');



.noir {
    background-color: black;
}

.rouge {
    background-color: red;
}

.rose {
    background-color: pink;
}

.vert {
    background-color: green;
}

.jaune {
    background-color: yellow;
}

.blanc {
    background-color: white;
}

.bleu {
    background-color: blue;
}
.mauve {
    background-color: purple;
}
.plage{
    background: url(/images/image-1.jpg) center center / cover no-repeat fixed;
}

.pattern{
    background: url(/images/pattern.jpg) repeat;
}

.reflet{
    background: url(/images/image-13.jpg) center center / cover no-repeat fixed;
}

.Le_banc{
    background: url(/images/image-9.jpg) center center / cover no-repeat fixed;
}

.palmier{
    background: url(/images/image-12.jpg) center center / cover no-repeat fixed;
}

.transparent{
    background-color: rgba(255,255,255,0.5);
}